<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Погода в мире</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <style>
        .heroo {
         background: linear-gradient(to left, #3e9da5, #f33bff);
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
       </style>
</head>

<body>
    <div style="min-height: 100vh; background: #b300ff7d; position: relative;">
    <section class="hero is-primary">
        <div class="hero-body heroo">
            <div class="container" >
                <h1 class="title">
                    Check weather in your city
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.name }}
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info">
                                    Search
                                </button>
                            </div>
                        </div>
                        {% if message %}
                    <div class="notification {{ message_class }}"> {{ message }}</div>
                    {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for city_weather in weather_data %}
                    <div class="box" style="background:linear-gradient(to top, #a53e8b7d, #f33bff)">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ city_weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ city_weather.temperature }}° C</span>
                                        <br> {{ city_weather.description }}
                                    </p>
                                </div>
                            </div>
                            <div class='media-right'>
                                <a href="{% url 'delete_city' city_weather.city %}"">
                                    <button class="delete"></button>
                                </a>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    </div>
    <footer class="footer" style="background: linear-gradient(to left, #3e9da5, #f33bff)">
        <p  class="container has-text-centered" style="color:white">
            <a style="font-weight: 500; color:white" target="_blank" href="https://github.com/llnvs/django-weather">&copy; Follow my github account 😎</a> 
        </p>
    </footer>
</body>

</html>